* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  * ul {
    list-style: none;
  }
  
  * a {
    text-decoration: none;
    color: #000;
  }
  
  body {
    min-width: 1500px;
    min-height: 100vh;
    background-image: linear-gradient(#fff, #fff, rgba(7, 13, 89, 0.2));
    font-family: "Montserrat", sans-serif;
    overflow: auto;
    display: flex;
    border-top: 5px solid #070d59;
    border-bottom: 5px solid #070d59;
  }
  

.login {
    display: contents;
}

.login .headerLogin {
    min-width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    position: absolute;
    flex-direction: row;
    padding-top: 0;
    padding-left: 20px;
}

.login .headerLogin a {
    padding: 0;
    border: 0;
    position: relative;
    z-index: 2;
}

.login .form_register {
    display: flex;
    height: 100vh;
}

.login .form_register .login {
    display: flex;
    width: 40%;
    padding-left: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.75s ease;
}

.login .form_register .login h1 {
    font-size: 2.3em;
    color: #070d59;
    margin-bottom: 30px;
}

.login .form_register .login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .form_register .login form div {
    display: flex;
    width: 350px;
    height: 45px;
    background-color: #eee;
    margin-bottom: 15px;
}

.login .form_register .login form div label {
    height: 100%;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .form_register .login form div label i {
    color: #444;
}

.login .form_register .login form div input,
.login .form_register .login form div select {
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: #000;
    font-size: 16px;
}

.login .form_register .login form div input::placeholder,
.login .form_register .login form div select::placeholder {
    color: #444;
}

.login .form_register .login form div select {
    color: #444;
    width: 80%;
}

.login .form_register .login form button {
    width: 200px;
    height: 45px;
    background-color: #070d59;
    color: #fff;
    font-size: 15px;
    border-radius: 25px;
    transition: all 0.2s ease;
}

.login .form_register .login form button:hover {
    background-color: #baa4f2;
}

.login .form_register .login.signInMode {
    transform: translateX(130%);
}

.login .form_register .register {
    width: 60%;
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/login_fondo.png);
    background-position-x: 100%;
    background-position-y: 50%;
    background-attachment: fixed;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: all 0.75s ease;
}

.login .form_register .register h2 {
    color: #070d59;
}

.login .form_register .register img {
    margin: 20px 0 30px;
    width: 500px;
}

.login .form_register .register button {
    width: 200px;
    height: 45px;
    background-color: #fff;
    color: #070d59;
    border-radius: 25px;
    font-size: 15px;
    transition: all 0.2s ease;
}

.login .form_register .register button:hover {
    background-color: #070d59;
    color: #fff;
}

.login .form_register .register.signInMode {
    clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
    transform: translateX(-70%);
    padding: 0 150px 0 0;
}

header {
    max-width: 200px;
    min-width: 200px;
    height: 100vh;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #070d59;
    position: sticky;
    top: 0;
}

header > a {
    padding-bottom: 30px;
    border-bottom: 3px solid #fff;
}

header > a img {
    width: 100px;
    filter: grayscale(1);
}
